body{
    background-color: rgb(139, 156, 172);
    font-family: 'segoe ui';
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}



#personal_statement{
    border-style: solid;
    border-color: rgba(76, 109, 141, 0.781);
    border-width: 2px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
    background-color: rgba(95, 114, 131, 0.384);


}

.main {
    margin-top: 130px; 
}

.contentBox{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageContent{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;



}

#eduhob { 

    max-width: 100%;
}

#experience1 {
    transition: all .35s ease-in-out;
}

#experience1:hover {
    transform: scale(1.05);
}
#experience img {

    width:  600px;
    height: 200px;
    object-fit: fill;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);


}

#education1 {
    transition: all .35s ease-in-out;
}

#education1:hover {
    transform: scale(1.05);
}
#education img {
    width:  300px;
    height: 200px;
    object-fit: fill;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);

}

#hobbies {
    transition: all .35s ease-in-out;
}

#hobbies:hover {
    transform: scale(1.05);
}
#interests img {

    width:  300px;
    height: 200px;
    object-fit: fill;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);
    
}

#socials {
    border-style: solid;
    border-color: rgba(76, 109, 141, 0.781);
    border-width: 2px;
    border-radius: 15px;
    width: 95%;
    height: 75%;
    margin:0;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
    font-weight: 725;
}

.social-link{

    color: rgb(4, 22, 121);
    

}