body{
    background: linear-gradient(30deg, rgb(139, 156, 172) , rgb(81, 92, 102));
    font-family: 'segoe ui';
    margin: 0;
}

#previous-nav{
    text-decoration: none!important;
    font-family: 'segoe ui';
    font-size: 40px;
    margin-top: 2%;
    background-color: rgba(36, 143, 243, 0.377);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(139, 156, 172);
    border-width: 3px;
    transition: all .2s ease-in-out;
    box-shadow: 6px 8px 6px 8px  rgba(16, 46, 75, 0.418);
    color: rgba(24, 6, 41);
}

#main-content{
    display: flex;

}
#coding {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
}

#coding-logo{
    height: 125px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
}

#falmouth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-bottom: 2%;

}
#falmouth-logo {
    height: 125px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
}

#bath-college{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    margin-top: 2%;
    margin-bottom: 2%;

}

#bathcollege-logo{
    height: 125px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
}

#school{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-bottom: 2%;

}

#wellsway-logo {
    height: 250px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(76, 109, 141, 0.781);
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);

}

.ztm{ text-decoration: none;
}

.summary{
    font-family: 'segoe ui';
    font-size: 20px;
    background-color: rgba(86, 105, 122, 0.185);
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(95, 107, 117, 0.377);
    border-width: 3px;
    box-shadow: 2px 3px 2px 0px  rgba(16, 46, 75, 0.418);
    color: rgba(24, 6, 41);
    margin: 10px;
    padding: 3px;
}