body{
    background-color: rgb(139, 156, 172);
    font-family: 'bahnschrift';
}

#main-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}




#wordsworth-logo{
    height: 110px;
    width: auto;
    border-style: solid;
    border-width: thick;
    border-color: rgba(76, 109, 141, 0.781);
    border-radius: 20px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
}


#job-info{
    border-style: solid;
    border-color: rgba(76, 109, 141, 0.781);
    border-width: 3px;
    width: 40%;
    height: 75%;
    margin: 0;
    margin-left: 5%;
    padding: 10px;
    box-shadow: 12px 10px 10px rgba(16, 46, 75, 0.418);
}